/*------------------------------------*\
    Portfolio
\*------------------------------------*/

.portfolio {
  background-color: #f0f0f0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;

  &-piece {
    display: inline-block;
    position: relative;
    outline: 1px solid #e5e5e5;
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 0 transparent;

    &:hover {
      transform: scale(1.025,1.025);
      box-shadow: 0 2px 1rem rgba(0,0,0,0.125);
      z-index: 1;
    }
  }

  &-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: rgba(255,255,255,0.95);
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    opacity: 0;

    .portfolio-piece:hover & {
      opacity: 1;
    }
  }

  &-title {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: $color-text;

    // .col-md-6 & { font-size: 1.25rem; }
    .col-md-4 & { font-size: 1.25rem; }
    .col-md-3 & { font-size: 1.125rem; }

  }

}
