<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4903782-9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-4903782-9');
  </script>

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tim McKay : Front-End Architect</title>
  <!-- Search Engine -->
  <meta name="description" content="A design-centric developer focused on quality products">
  <meta name="image" content="/img/me.jpg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Tim McKay : Front-End Architect">
  <meta itemprop="description" content="A design-centric developer focused on quality products">
  <meta itemprop="image" content="/img/me.jpg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Tim McKay : Front-End Architect">
  <meta name="twitter:description" content="A design-centric developer focused on quality products">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Tim McKay : Front-End Architect">
  <meta name="og:description" content="A design-centric developer focused on quality products">
  <meta name="og:image" content="/img/me.jpg">
  <meta name="og:url" content="https://timbomckay.github.io/">
  <meta name="og:site_name" content="Tim McKay : Front-End Architect">
  <meta name="og:type" content="website">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
  <link rel="manifest" href="img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">

  <!-- Bootstrap 4 Core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- Theme CSS -->
  <link href="dist/main.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

  <!-- Icon Font -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>

<body>

  <div id="app">

    <!-- As a heading -->
    <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0">Tim McKay Portfolio</span>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" target="_new" href="https://www.linkedin.com/in/timbomckay/" @click="trackEvent('linkedin')"><i class="fab fa-linkedin"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_new" href="https://github.com/timbomckay" @click="trackEvent('github')"><i class="fab fa-github"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_new" href="mailto:timbomckay@gmail.com" @click="trackEvent('email')"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="container-fluid portfolio">
      <div class="row text-center">
        <div class="col-md-12">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('tmhushop')">
            <div class="portfolio-hover">
              <h2 class="portfolio-title">Toyota Forklifts Shop <i class="fas fa-angle-right text-primary"></i></h2>
              <p class="text-primary">Vue JS • E-Commerce</p>
            </div>
            <img src="img/portfolio/toyota-shop.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('tmhu')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Toyota Material Handling USA <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Vue JS • Front-End Development</p>
            </div>
            <img src="img/portfolio/toyota.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('sonomacutrer')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Sonoma-Cutrer <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/sonoma-cutrer.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('prolift')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Prolift Equipment <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/prolift.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('orrsafety')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">ORR Safety <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/orr-safety.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('downunder')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Downunder Horsemanship <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/downunder-horsemanship.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('cfe')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">CFE <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/cfe.jpg" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('ket')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">KET <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/ket.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('thebacon')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">The Bacon <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/bacon.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('cityofirvine')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">City of Irvine <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/city-of-irvine.jpg" alt="">
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('louisvilleky')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Louisville, KY <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/louisvilleky.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('hilliardlyons')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Hilliard Lyons <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/hilliard.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('nettango')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Net Tango <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/nettango.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('louisvillewater')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Louisville Water <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/louisville-water-company.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="portfolio-piece" @click.prevent="showModal('zanvartis')">
            <div class="portfolio-hover">
              <h3 class="portfolio-title">Zanvartis <i class="fas fa-angle-right text-primary"></i></h3>
              <p class="text-primary">Front-End Development</p>
            </div>
            <img src="img/portfolio/zanvartis.jpg" alt="">
          </a>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-gray pt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About Me</h2>
            <!-- <h3 class="section-subheading text-muted"></h3> -->
          </div>
          <div class="col" style="max-width: 32rem;">
            <p>I am a simplifier, I love making things easier for anyone I can help. Whether it’s an intuitive architecture to improve maintainability, automating tasks for coworkers, simplifying content management for clients, or creating fast & pleasant experiences for users. I even seek ways to simplify my wife’s daily tasks, researching solutions for my friends out of curiosity, or setting up technical devices for my parents to minimize complexities. At the core of what makes me an exceptional front-end developer is the desire to help others by creating an enjoyable experience.</p>
            <p>I am a design-centric developer focused on quality products, not settling for “good enough”. I love working with great designers that can focus on their art, and they enjoy working with me for my level of care and attention when bringing their designs to life. I’m proactive in implementing the look and feel that they’ve created across the site, resulting in less back-and-forth, less meetings, and a greater ROI for the business. I’m independently driven to get my work done and favor having a team to collaborate for advice with a new feature or tackling different obstacles on the same project.</p>
          </div>
          <div class="col-12 text-center">
            <a href="/Tim-McKay-Resume.pdf" target="_new" @click="trackEvent('résumé')" class="btn btn-lg btn-primary">
              <i class="far fa-file-pdf"></i>&nbsp; View Résumé
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-primary mt-5 mb-0 p-4 text-center h3">
      <nav>
        <a target="_new" href="https://www.linkedin.com/in/timbomckay/" @click="trackEvent('linkedin')"><i class="text-white mx-2 fab fa-linkedin"></i></a>
        <a target="_new" href="https://github.com/timbomckay" @click="trackEvent('github')"><i class="text-white mx-2 fab fa-github"></i></a>
        <a target="_new" href="mailto:timbomckay@gmail.com" @click="trackEvent('email')"><i class="text-white mx-2 fas fa-envelope"></i></a>
      </nav>
    </footer>

    <modal v-if="active" @close="active = false">
      <h3 slot="header" class="modal-pf-title">{{ active.title }}</h3>
      <div slot="body" class="row justify-content-center m-0 w-100">
        <div class="col-md modal-pf-gallery">
          <img v-if="active.images" v-for="image in active.images" :src="image" class="mw-100" />
        </div>
        <div class="col-md modal-pf-desc">
          <p v-if="active.desc" v-for="desc in active.desc" v-html="desc"></p>
        </div>
      </div>
      <a v-if="active.url" slot="footer" :href="active.url" class="btn btn-primary btn-sm" @click="trackEvent(active.title,'visit','project')" target="_new">Visit <i class="ml-1 fas fa-angle-right"></i></a>
    </modal>

  </div>

  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <button class="modal-close-button btn btn-link" @click="$emit('close')">
          <i class="mx-2 fas fa-times"></i>
        </button>
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header"></slot>
            </div>
            <div class="modal-body">
              <slot name="body"></slot>
            </div>
            <div class="modal-footer">
              <slot name="footer"></slot>
              <button class="btn btn-light btn-sm" @click="$emit('close')">
                Close <i class="ml-1 fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="dist/main.min.js"></script>

</body>

</html>
