<a
  href="#skip-nav"
  class="fixed bg-primary-500 focus:text-white leading-none m-2 not-focus:sr-only px-3 py-2 text-xs z-50"
  >Skip Navigation</a
>
<header class="p-4">
  <div class="flex items-center justify-between max-w-ch mx-auto">
    <a href="/" class="block font-medium text-lg">
      tim<span class="text-gray-600">mckay</span>
    </a>
    <nav class="flex gap-3 items-center">
      <a
        class="icon inline-flex text-gray-500"
        target="_new"
        href="https://www.linkedin.com/in/timbomckay/"
        aria-label="linkedin profile"
      >
        {{- partial (print "logos/linkedin.svg") -}}
      </a>
      <a
        class="icon inline-flex text-gray-500"
        target="_new"
        href="https://github.com/timbomckay"
        aria-label="github profile"
      >
        {{- partial (print "logos/github.svg") -}}
      </a>
      <a
        class="icon inline-flex text-gray-500"
        target="_new"
        href="mailto:timbomckay@gmail.com"
        aria-label="email"
      >
        {{- partial "icons/content/mail.svg" -}}
      </a>
      <a
        class="border-2 px-2 py-1 rounded text-gray-500 text-xs hover:border-primary-300"
        target="_new"
        href="/tim-mckay-resume.pdf"
        aria-label="résumé"
      >
        Résumé
      </a>
    </nav>
  </div>
</header>
<div id="skip-nav" tabindex="-1" class="sr-only"></div>
